body{
  background-color: black;
}
.App {
  color: white;
  text-align: center;
  background-color: black;
}

.output-area{
  background-color: #c3b6b6;
  color: black;
  padding: 20px;
}

li{
  list-style-type: none;
}

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.image-output{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-image{
  flex: 2;
}

.output-area{
  flex: 1;
}